<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Meals - Travlr Getaways</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<div id="logo">
					<a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
				</div>
				<div id="navigation">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/travel">Travel</a></li>
						<li><a href="/rooms">Rooms</a></li>
						<li class="selected"><a href="/meals">Meals</a></li>
						<li><a href="/news">News</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>

			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Meals</h1>
							<ul id="foods">
								<li>
									<h2><a href="/meals">Seafood Special</a></h2>
									<div class="infos">
										<a href="/meals"><img src="/images/seafoods.jpg" alt="Img"></a>
										<p>
											<span>Fried Salmon Special</span>
											Enjoy our signature seafood dishes.
										</p>
									</div>
								</li>
								<li>
									<h2><a href="/meals">Sumptuous Desserts</a></h2>
									<div class="infos">
										<a href="/meals"><img src="/images/desserts.jpg" alt="Img"></a>
										<p>
											<span>Choco Ice Cream Sandwich</span>
											Indulge in sweet delights.
										</p>
									</div>
								</li>
								<li>
									<h2><a href="/meals">Buffet</a></h2>
									<div class="infos">
										<a href="/meals"><img src="/images/buffet.jpg" alt="Img"></a>
										<p>
											<span>Mixed Buffet</span>
											Enjoy unlimited variety.
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="footer">
			<div>
				<ul class="navigation">
					<li><a href="/">Home</a></li>
					<li><a href="/travel">Travel</a></li>
					<li><a href="/rooms">Rooms</a></li>
					<li class="active"><a href="/meals">Meals</a></li>
					<li><a href="/news">News</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
			<p>© 2023 Travlr Getaways</p>
		</div>
	</div>
</body>
</html>