<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Rooms - Travlr Getaways</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<div id="logo">
					<a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
				</div>
				<div id="navigation">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/travel">Travel</a></li>
						<li class="selected"><a href="/rooms">Rooms</a></li>
						<li><a href="/meals">Meals</a></li>
						<li><a href="/news">News</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>

			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Rooms</h1>
							<ul id="rooms">
								<li>
									<a href="/rooms"><img src="/images/first-class.jpg" alt="Img"></a>
									<h2><a href="/rooms">First Class Room</a></h2>
									<p>
										Cras dui sapien, feugiat vitae tristique ut, lobortis tempor orci.
									</p>
									<span class="rate">Rate: 220 / Day</span>
								</li>
								<li>
									<a href="/rooms"><img src="/images/deluxe.jpg" alt="Img"></a>
									<h2><a href="/rooms">Deluxe Room</a></h2>
									<p>
										Sed et augue lorem. In sit amet placerat arcu.
									</p>
									<span class="rate">Rate: 150 / Day</span>
								</li>
								<li>
									<a href="/rooms"><img src="/images/suite.jpg" alt="Img"></a>
									<h2><a href="/rooms">Suite Room</a></h2>
									<p>
										Vestibulum sit amet porttitor odio. Nulla facilisi.
									</p>
									<span class="rate">Rate: 180 / Day</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="footer">
			<div>
				<ul class="navigation">
					<li><a href="/">Home</a></li>
					<li><a href="/travel">Travel</a></li>
					<li class="active"><a href="/rooms">Rooms</a></li>
					<li><a href="/meals">Meals</a></li>
					<li><a href="/news">News</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
			<p>© 2023 Travlr Getaways</p>
		</div>
	</div>
</body>
</html>